<!-- Models -->

<!-- Scope -->
@{
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Nacimientos";
    ViewData["Option"] = "Consultas";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];
}

<!-- Page content -->
<div class="page-content">

    <!-- Content -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <!-- Search -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well">
                        <form class="form-horizontal" asp-fragment="Nacimientos" asp-controller="Consultas" asp-action="Consultar" method="post">
                            <fieldset>
                                <legend>Opciones de búsqueda</legend>
                                <div class="form-group">
                                    <label>Mes</label>
                                    <select class="form-control" asp-for="MesesSeleccionados" asp-items="Model.Meses"></select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Año</label>
                                    <select class="form-control">
                                        <option selected="selected">Todos</option>
                                        <option>2016</option>
                                        <option>2017</option>
                                        <option>2018</option>
                                        <option>2019</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <div class="form-group">
                                    <label>Municipios</label>
                                    <select class="form-control select2" multiple>
                                        <option value="001">Abasolo</option>
                                        <option value="002">Acuña</option>
                                        <option value="003">Allende</option>
                                        <option value="004">Arteaga</option>
                                        <option value="005">Candela</option>
                                        <option value="006">Castaños</option>
                                        <option value="007">Cuatro Ciénegas</option>
                                        <option value="008">Escobedo</option>
                                        <option value="009">Francisco I. Madero</option>
                                        <option value="010">Frontera</option>
                                        <option value="011">General Cepeda</option>
                                        <option value="012">Guerrero</option>
                                        <option value="013">Hidalgo</option>
                                    </select>
                                </div>
                                <!-- /.form-group -->
                                <br />
                                <div class="form-group" style="padding-bottom:10px;">
                                    <div class="btn-group">
                                        <button id="searchBtn" type="button" class="btn btn-success">Buscar <i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="note-feet"><strong>* Seleccione el periodo y los municipios: (Si se dejan en blanco, se realizará el cálculo general "todos los registros de la base de datos").</strong></p>
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./search -->
        <!-- Result -->
        <section id="searchingResult" style="display:none;">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Resultados de la comparación</span>
                            <div class="pull-right">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i>
                                    </button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="fa fa-file-excel-o"></i> Archivo de Excel</a></li>
                                        <li><a href="#"><i class="fa fa-file-pdf-o"></i> Archivo de PDF</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#"><i class="fa fa-print"></i> Imprimir</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- ./heading -->
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <span class="badge badge-primary">3%</span>
                                        <h5>10,390</h5>
                                        <a href="#unregisteredTab" data-toggle="tab" aria-expanded="true">
                                            <span>Sin registro</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <span class="badge badge-success">17%</span>
                                        <h5>35,210</h5>
                                        <a href="#registeredTab" data-toggle="tab" aria-expanded="true">
                                            <span>Con registro</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <span class="badge badge-warning">20%</span>
                                        <h5>24,813</h5>
                                        <a href="#subregisteredTab" data-toggle="tab" aria-expanded="true">
                                            <span>Subregistro</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-sm-3">
                                    <div class="description-block">
                                        <br />
                                        <span><i class="fa fa-danger fa-line-chart"></i></span>
                                        <br />
                                        <a href="#summaryTab" data-toggle="tab" aria-expanded="true">
                                            <span>Resumen por municipio</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- ./body -->
                        <div class="panel-footer">
                            <div class="tab-content">
                                <!-- Results -->
                                <div id="unregisteredTab" class="row tab-pane fade">
                                    <div class="col-sm-12 table-responsive">
                                        <p class="text-center">
                                            <strong>Nacimientos sin registro</strong>
                                        </p>
                                        <div class="table-container">
                                            <table id="unregisteredTable" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>FOLIO</th>
                                                        <th colspan="3" style="border-top: 2px solid #dddddd;">DATOS DE LA MADRE</th>
                                                        <th colspan="9" style="border-top: 2px solid #dddddd;">DATOS DE LA RESIDENCIA DE LA MADRE</th>
                                                        <th colspan="4" style="border-top: 2px solid #dddddd;">DATOS SOCIOECONÓMICOS DE LA MADRE</th>
                                                        <th colspan="4" style="border-top: 2px solid #dddddd;">DATOS DEL RECIEN NACIDO</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Folio del certificado de nacimiento</th>
                                                        <th>Edad</th>
                                                        <th>ID Estado civil</th>
                                                        <th>Estado civil</th>
                                                        <th>Calle</th>
                                                        <th>Número exterior</th>
                                                        <th>Número interior</th>
                                                        <th>ID Entidad</th>
                                                        <th>Entidad</th>
                                                        <th>ID Municipio</th>
                                                        <th>Municipio</th>
                                                        <th>ID Localidad</th>
                                                        <th>Localidad</th>
                                                        <th>Número de nacimiento vivo</th>
                                                        <th>ID Escolaridad</th>
                                                        <th>Escolaridad</th>
                                                        <th>Ocupación</th>
                                                        <th>Fecha de nacimiento</th>
                                                        <th>Hora de nacimiento</th>
                                                        <th>ID Sexo</th>
                                                        <th>Sexo</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Records are fulling by AJAX -->
                                                    <tr><td>022065044</td><td>19</td><td>15</td><td>UNIÓN LIBRE</td><td>JAVIER MINA</td><td>S/N</td><td>00</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>01/02/2018</td><td>18:30</td><td>1</td><td>HOMBRE</td></tr>
                                                    <tr><td>022065381</td><td>18</td><td>15</td><td>UNIÓN LIBRE</td><td>ABASOLO</td><td>44</td><td>00</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>1</td><td>07</td><td>BACHILLERATO O PREPARATORIA COMPLETA</td><td>AMA DE CASA</td><td>15/02/2018</td><td>01:55</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022065416</td><td>18</td><td>15</td><td>UNIÓN LIBRE</td><td>DOMICILIO CONOCIDO</td><td>S/N</td><td>00</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>24/02/2018</td><td>11:50</td><td>1</td><td>HOMBRE</td></tr>
                                                    <tr><td>022065775</td><td>27</td><td>11</td><td>CASADA</td><td>ZARAGOZA</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0008</td><td>OBAYOS</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>08/03/2018</td><td>17:35</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022068169</td><td>20</td><td>15</td><td>UNIÓN LIBRE</td><td>SIN NOMBRE</td><td>9999999999</td><td>NA</td><td>10</td><td>DURANGO</td><td>008</td><td>GUADALUPE VICTORIA</td><td>0001</td><td>CIUDAD GUADALUPE VICTORIA</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>04/04/2018</td><td>17:29</td><td>1</td><td>HOMBRE</td></tr>
                                                    <tr><td>022072199</td><td>26</td><td>11</td><td>CASADA</td><td>PRIMERO DE MAYO</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0009</td><td>PRIMERO DE MAYO</td><td>2</td><td>07</td><td>BACHILLERATO O PREPARATORIA COMPLETA</td><td>AMA DE CASA</td><td>13/04/2018</td><td>12:15</td><td>1</td><td>HOMBRE</td></tr>
                                                    <tr><td>022072371</td><td>28</td><td>11</td><td>CASADA</td><td>57</td><td>S/N</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>04/04/2018</td><td>15:15</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022072741</td><td>37</td><td>15</td><td>UNIÓN LIBRE</td><td>SAN ANTONIO DE LA FUENTE</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>28/04/2018</td><td>10:48</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022072747</td><td>17</td><td>15</td><td>UNIÓN LIBRE</td><td>DOMICILIO CONOCIDO</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>01/05/2018</td><td>06:46</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022078279</td><td>25</td><td>15</td><td>UNIÓN LIBRE</td><td>FLORENCIO SANTA ANA</td><td>S/N</td><td>00</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>17/06/2018</td><td>05:07</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022078374</td><td>21</td><td>15</td><td>UNIÓN LIBRE</td><td>ABASOLO</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>OPERARIA</td><td>14/06/2018</td><td>17:08</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022078468</td><td>33</td><td>11</td><td>CASADA</td><td>ANAHUAC</td><td>SN</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>26/06/2018</td><td>11:48</td><td>2</td><td>MUJER</td></tr>
                                                    <tr><td>022078521</td><td>19</td><td>11</td><td>CASADA</td><td>ANAHUAC</td><td>S/N</td><td>00</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>1</td><td>07</td><td>BACHILLERATO O PREPARATORIA COMPLETA</td><td>AMA DE CASA</td><td>29/06/2018</td><td>16:21</td><td>1</td><td>HOMBRE</td></tr>
                                                    <tr><td>02734E00014363</td><td>20</td><td>11</td><td>CASADA</td><td>NO APLICA</td><td>9999999999</td><td>99999</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>008</td><td>ESCOBEDO</td><td>0001</td><td>ESCOBEDO</td><td>1</td><td>07</td><td>BACHILLERATO O PREPARATORIA COMPLETA</td><td>HOGAR</td><td>28/04/2018</td><td>16:00</td><td>1</td><td>HOMBRE</td></tr>
                                                </tbody>
                                            </table>
                                            <!-- ./table -->
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="registeredTab" class="row tab-pane fade">
                                    <div class="col-sm-12">
                                        <p class="text-center">
                                            <strong>Nacimientos con registro</strong>
                                        </p>
                                        <div class="table-container">
                                            <table id="registeredTable" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="border-top: 2px solid #dddddd;">FOLIO</th>
                                                        <th colspan="3" style="border-top: 2px solid #dddddd;">DATOS DE LA MADRE</th>
                                                        <th colspan="9" style="border-top: 2px solid #dddddd;">DATOS DE LA RESIDENCIA DE LA MADRE</th>
                                                        <th colspan="4" style="border-top: 2px solid #dddddd;">DATOS SOCIOECONÓMICOS DE LA MADRE</th>
                                                        <th colspan="7" style="border-top: 2px solid #dddddd;">DATOS DEL RECIEN NACIDO</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Folio del certificado de nacimiento</th>
                                                        <th>Edad</th>
                                                        <th>ID Estado civil</th>
                                                        <th>Estado civil</th>
                                                        <th>Calle</th>
                                                        <th>Número exterior</th>
                                                        <th>Número interior</th>
                                                        <th>ID Entidad</th>
                                                        <th>Entidad</th>
                                                        <th>ID Municipio</th>
                                                        <th>Municipio</th>
                                                        <th>ID Localidad</th>
                                                        <th>Localidad</th>
                                                        <th>Número de nacimiento vivo</th>
                                                        <th>ID Escolaridad</th>
                                                        <th>Escolaridad</th>
                                                        <th>Ocupación</th>
                                                        <th>Fecha de nacimiento</th>
                                                        <th>Hora de nacimiento</th>
                                                        <th>ID Sexo</th>
                                                        <th>Sexo</th>
                                                        <th>Fecha de registro (según folio)</th>
                                                        <th>Fecha de registro (según fecha)</th>
                                                        <th>Días al nacimiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Records are fulling by AJAX -->
                                                    <tr><td>022041684</td><td>25</td><td>15</td><td>UNIÓN LIBRE</td><td>CARRANZA</td><td>85</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>2</td><td>03</td><td>PRIMARIA COMPLETA</td><td>COMERCIANTE</td><td>04/01/2018</td><td>18:43</td><td>1</td><td>HOMBRE</td><td>11/01/18</td><td>11/01/18</td><td>7</td></tr>
                                                    <tr><td>022041685</td><td>27</td><td>11</td><td>CASADA</td><td>MEJIA</td><td>512</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>05/01/2018</td><td>17:38</td><td>1</td><td>HOMBRE</td><td>31/01/18</td><td>31/01/18</td><td>26</td></tr>
                                                    <tr><td>022041693</td><td>0</td><td>11</td><td>CASADA</td><td>AV 3 DE MAYO COL JOSE SANTOS VALDEZ</td><td>000</td><td>000</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>3</td><td>08</td><td>PROFESIONAL</td><td>DOCENTE</td><td>01/01/2018</td><td>12:49</td><td>2</td><td>MUJER</td><td>08/01/18</td><td>08/01/18</td><td>7</td></tr>
                                                    <tr><td>022036911</td><td>18</td><td>11</td><td>CASADA</td><td>SIN INFORMACION</td><td>S/N</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0024</td><td>GUADALUPE VICTORIA</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>02/01/2018</td><td>00:08</td><td>1</td><td>HOMBRE</td><td>06/01/18</td><td>06/01/18</td><td>4</td></tr>
                                                    <tr><td>022036915</td><td>21</td><td>11</td><td>CASADA</td><td>SIN INFORMACION</td><td>S/N</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0027</td><td>LA LUZ</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>04/01/2018</td><td>05:55</td><td>1</td><td>HOMBRE</td><td>25/01/18</td><td>25/01/18</td><td>21</td></tr>
                                                    <tr><td>022036950</td><td>24</td><td>15</td><td>UNIÓN LIBRE</td><td>EJIDO SANTA ANA DEL PILAR</td><td>SN</td><td>SN</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0045</td><td>SANTA ANA DEL PILAR</td><td>4</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>30/01/2018</td><td>12:20</td><td>2</td><td>MUJER</td><td>19/02/18</td><td>02/02/18</td><td>20</td></tr>
                                                    <tr><td>022036951</td><td>25</td><td>11</td><td>CASADA</td><td>EJIDO GUADALUPE VICTORIA</td><td>SN</td><td>SN</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0024</td><td>GUADALUPE VICTORIA</td><td>3</td><td>06</td><td>BACHILLERATO O PREPARATORIA INCOMPLETA</td><td>AMA DE CASA</td><td>30/01/2018</td><td>16:55</td><td>2</td><td>MUJER</td><td></td><td>02/02/18</td><td>3</td></tr>
                                                </tbody>
                                            </table>
                                            <!-- ./table -->
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="subregisteredTab" class="row tab-pane fade">
                                    <div class="col-sm-12">
                                        <p class="text-center">
                                            <strong>Nacimientos con subregistro</strong>
                                        </p>
                                        <div class="table-container">
                                            <table id="subregisteredTable" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="border-top: 2px solid #dddddd;">FOLIO</th>
                                                        <th colspan="3" style="border-top: 2px solid #dddddd;">DATOS DE LA MADRE</th>
                                                        <th colspan="9" style="border-top: 2px solid #dddddd;">DATOS DE LA RESIDENCIA DE LA MADRE</th>
                                                        <th colspan="4" style="border-top: 2px solid #dddddd;">DATOS SOCIOECONÓMICOS DE LA MADRE</th>
                                                        <th colspan="7" style="border-top: 2px solid #dddddd;">DATOS DEL RECIEN NACIDO</th>
                                                    </tr>
                                                    <tr>
                                                        <th>Folio del certificado de nacimiento</th>
                                                        <th>Edad</th>
                                                        <th>ID Estado civil</th>
                                                        <th>Estado civil</th>
                                                        <th>Calle</th>
                                                        <th>Número exterior</th>
                                                        <th>Número interior</th>
                                                        <th>ID Entidad</th>
                                                        <th>Entidad</th>
                                                        <th>ID Municipio</th>
                                                        <th>Municipio</th>
                                                        <th>ID Localidad</th>
                                                        <th>Localidad</th>
                                                        <th>Número de nacimiento vivo</th>
                                                        <th>ID Escolaridad</th>
                                                        <th>Escolaridad</th>
                                                        <th>Ocupación</th>
                                                        <th>Fecha de nacimiento</th>
                                                        <th>Hora de nacimiento</th>
                                                        <th>ID Sexo</th>
                                                        <th>Sexo</th>
                                                        <th>Fecha de registro (según folio)</th>
                                                        <th>Fecha de registro (según fecha)</th>
                                                        <th>Días al nacimiento</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Records are fulling by AJAX -->
                                                    <tr><td>022058340</td><td>22</td><td>15</td><td>UNIÓN LIBRE</td><td>TERCERA</td><td>962</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>28/02/2018</td><td>17:46</td><td>1</td><td>HOMBRE</td><td>30/04/18</td><td></td><td>61</td></tr>
                                                    <tr><td>022062087</td><td>32</td><td>11</td><td>CASADA</td><td>EL REFUGIO DE LOS RANCH0S</td><td>SN</td><td>NA</td><td>19</td><td>NUEVO LEON</td><td>017</td><td>GALEANA</td><td>0153</td><td>SAN RAFAEL</td><td>3</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>12/02/2018</td><td>04:26</td><td>1</td><td>HOMBRE</td><td>17/05/18</td><td></td><td>94</td></tr>
                                                    <tr><td>022064104</td><td>17</td><td>12</td><td>SOLTERA</td><td>JUAN DE LA CRUZ BORREGO</td><td>545</td><td>99999</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>1</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>16/03/2018</td><td>07:32</td><td>2</td><td>MUJER</td><td>05/07/18</td><td></td><td>111</td></tr>
                                                    <tr><td>022064380</td><td>29</td><td>11</td><td>CASADA</td><td>LAZARO CARDENAS</td><td>910</td><td>NA</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE  CASA</td><td>07/03/2018</td><td>02:46</td><td>1</td><td>HOMBRE</td><td>11/05/18</td><td></td><td>65</td></tr>
                                                    <tr><td>022064940</td><td>17</td><td>15</td><td>UNIÓN LIBRE</td><td>LAGUNA</td><td>542</td><td>99999</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>1</td><td>06</td><td>BACHILLERATO O PREPARATORIA INCOMPLETA</td><td>ESTUDIANTE</td><td>08/03/2018</td><td>02:37</td><td>1</td><td>HOMBRE</td><td>11/05/18</td><td></td><td>64</td></tr>
                                                    <tr><td>022064958</td><td>31</td><td>12</td><td>SOLTERA</td><td>GONZALEZ</td><td>978</td><td>99999</td><td>05</td><td>COAHUILA DE ZARAGOZA</td><td>017</td><td>MATAMOROS</td><td>0001</td><td>MATAMOROS</td><td>2</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>AMA DE CASA</td><td>16/03/2018</td><td>16:54</td><td>1</td><td>HOMBRE</td><td>13/06/18</td><td></td><td>89</td></tr>
                                                    <tr><td>02734E00014131</td><td>30</td><td>11</td><td>CASADA</td><td>DESCONOCE</td><td>SN</td><td>99999</td><td>19</td><td>NUEVO LEON</td><td>017</td><td>GALEANA</td><td>0002</td><td>LOS ADOBES</td><td>4</td><td>05</td><td>SECUNDARIA COMPLETA</td><td>HOGAR</td><td>12/04/2018</td><td>15:50</td><td>2</td><td>MUJER</td><td>18/06/18</td><td></td><td>67</td></tr>
                                                </tbody>
                                            </table>
                                            <!-- ./table -->
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                                <div id="summaryTab" class="row tab-pane fade">
                                    <div class="col-sm-12">
                                        <p class="text-center">
                                            <strong>Resumen por municipio</strong>
                                        </p>
                                        <div class="table-container">
                                            <table id="summaryTable" class="table table-striped table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="border-top: 2px solid #dddddd;">ID Municipio</th>
                                                        <th style="border-top: 2px solid #dddddd;">Municipio</th>
                                                        <th style="border-top: 2px solid #dddddd;">Folios sin Registro</th>
                                                        <th style="border-top: 2px solid #dddddd;">Folios con Registro</th>
                                                        <th style="border-top: 2px solid #dddddd;">Folios con Subregistro</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Records are fulling by AJAX -->
                                                </tbody>
                                            </table>
                                            <!-- ./table -->
                                        </div>
                                    </div>
                                    <!-- ./col -->
                                </div>
                            </div>

                        </div>
                        <!-- ./footer -->
                    </div>
                    <!-- ./panel -->
                </div>
                <!-- ./col -->
            </div>
            <!-- ./row -->
        </section>
        <!-- ./result -->

    </div>
    <!-- ./content -->

</div>
<!-- ./page content -->