<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net "/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>

    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="./Log/Sadena.log" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <datePattern value="yyyy-MM-dd" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="490MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true"/>

      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[#| %date{yyyy/MM/dd HH:mm:ss,fff} %-5level %logger [%thread] %property{log4net:HostName} %message %exception |#] %newline " />
      </layout>
    </appender>
  </log4net>
</configuration>