@{

    ViewData["Root"] = "SANS";
    ViewData["Option"] = "Inicio";
    ViewData["Title"] = ViewData["Root"] + " / " + ViewData["Option"];
    ViewData["ApplicationName"] = "SANS";
    ViewData["ApplicationDescription"] = "Sistema Analizador de Nacimientos y Subregistro";

}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!--Intro -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron mt-30">
                        <!-- Welcome information -->
                        <h1>@ViewData["ApplicationName"]</h1>
                        <p>@ViewData["ApplicationDescription"]</p>
                        <form action="/Acceso/Ingresar" method="get">
                            <p><button id="ingresarSadena" class="btn btn-lg btn-primary" type="submit">Ingresar</button></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- Partners -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Logos -->
                    <div class="image-block-container">
                        <div class="col-sm-3 image-container">
                            <img alt="Logo del Gobierno de Coahuila de Zaragoza" src="~/Content/images/cohauila-gob-logo.png"
                                 title="Gobierno de Coahuila de Zaragoza">
                        </div>
                        <div class="col-sm-3 image-container">
                            <img alt="Logo del BID" src="~/Content/images/bid-logo.png"
                                 title="Banco Interamericano de Desarrollo">
                        </div>
                        <div class="col-sm-3 image-container">
                            <img alt="Logo del Gobierno de Canadá" src="~/Content/images/canada-logo.png"
                                 title="Gobierno de Canadá">
                        </div>
                        <div class="col-sm-3 image-container">
                            <img alt="Logo del Registro Civil de la Secretaría de Gobernación" src="~/Content/images/regcivil-gob-logo.png"
                                 title="Dirección del Registro Civil">
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!-- /.container -->

</div>
<!-- ./page content -->