@* Model *@
@model SadenaFenix.Models.Usuarios.Usuario

@{

    ViewData["Root"] = "Sadena";
    ViewData["Option"] = "Aviso de Privacidad";
    ViewData["Title"] = ViewData["Root"] + " / " + ViewData["Option"];

}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!--Privacy -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Panel -->
                    <div class="panel panel-default mt-30">
                        <div class="panel-body">
                            <h3>@ViewData["Option"]</h3>
                            <p>Use this page to detail your site's privacy policy.</p>
                        </div>
                    </div>
                    <!-- ./panel -->
                </div>
            </div>
        </section>
        <!-- ./privacy -->

    </div>
    <!-- /.container -->

</div>
<!-- ./page content -->
