<!-- Scope -->
@{
    ViewData["Title"] = "Aviso de Privacidad";
}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!--Privacy -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <h2>@ViewData["Title"]</h2>
                    <p>Use this page to detail your site's privacy policy.</p>
                </div>
            </div>
        </section>
        <!-- ./privacy -->

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
