@* Model *@
@model SadenaFenix.Transport.Catalogos.CatalogosCargasRespuesta

<div id="modalConsulta">
    <div class="modalBackground"></div>
    <div id="mightyPopUp" class="multiModal">
        <div class="mightyPopContent generalModalSize">
            <div class="modalTitle">
                <div class="icon_title"><img src="~/Content/images/btnSearch.png" alt="" /></div>
                <div class="tdTitle">Consulta del subregistro</div>
            </div>
            <section>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well">
                            <form class="form-horizontal">
                                <fieldset>
                                    <div id="#inputListaSeleccionAnos" class="form-group">
                                        <label for="AnosSeleccionados">Año</label>
                                        @Html.DropDownListFor(model => model.Ano.AnioId,
                                            new SelectList(Model.ColAnios,"AnioId","AnioDesc"),
                                                new { id = "AnioLista", @class = "form-control select2", multiple = "", title = "Años seleccionados" })
                                    </div>


                                    <div id="#inputListaSeleccionMeses" class="form-group">
                                        <label for="MesesSeleccionados">Mes</label>
                                        @Html.DropDownListFor(model => model.Mes.MesId,
                                            new SelectList(Model.ColMeses, "MesId", "MesDesc"),
                                                new { id = "MesLista", @class = "form-control select2", multiple = "", title = "Meses seleccionados" })
                                    </div>

                                    <div id="#inputListaSeleccionMunicipios" class="form-group">
                                        <label for="MunicipiosSeleccionados">Municipios</label>
                                        @Html.DropDownListFor(model => model.Municipio.MpioId,
                                        new SelectList(Model.ColMunicipios, "MpioId", "MpioDesc"),
                                            new { id = "MpiosLista", @class = "form-control select2", multiple = "", title = "Municipios seleccionados" })
                                    </div>

                                    <br />
                                    <div class="form-group" style="padding-bottom:10px;">
                                        <div class="btn-group">
                                            <button id="consultarDatosProcesadosBtn" type="button" class="btn btn-success"
                                                    title="Buscar información de nacimientos">
                                                Buscar <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="note-feet"><strong>* Seleccione el periodo y los municipios (Si se dejan en blanco, se realizará el cálculo general: "todos los registros de la base de datos").</strong></p>
                                        </div>
                                    </div>

                                    <!-- /.form-group -->
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
