<!-- Scope -->
@{
    ViewData["Title"] = "Oficialías";
    ViewData["Message"] = "Oficialías";
}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!-- Oficialias -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <!-- Panel -->
                    <div class="panel panel-default mt-30">
                        <div class="panel-body">
                            <h3 class="text-warning">@ViewData["Message"]</h3>
                            <div class="col-sm-12">
                            </div>
                        </div>
                    </div>
                    <!-- ./panel -->
                </div>
            </div>
        </section>
        <!-- ./oficialias -->

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->
