@{
    ViewData["Root"] = "Sadena";
    ViewData["Modulo"] = "Nacimientos";
    ViewData["Option"] = "Importar";
    ViewData["Title"] = ViewData["Modulo"] + " / " + ViewData["Option"];

}

<!-- Page content -->
<div class="page-content">

    <!-- Container -->
    <div class="container">

        <!-- Breadcrumb -->
        <section class="pull-right">
            <ul class="breadcrumb">
                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home mr-3"></i>@ViewData["Root"]</a></li>
                <li><a href="#">@ViewData["Modulo"]</a></li>
                <li class="active">@ViewData["Option"]</li>
            </ul>
        </section>
        <!-- ./breadcrumb -->
        <!-- Loading files -->
        <section>
            <div class="row">
                <div class="col-sm-12">
                    <div class="well loading-well">
                        <!-- Form -->
                        <form class="form-horizontal">
                            <fieldset>
                                <legend>Selección de Archivos</legend>
                                <div class="form-group">
                                    <label class="col-sm-12" for="sinacFile">SINAC</label>
                                    <div class="col-sm-12">
                                        <input type="file" accept="*.mdb" id="sinacFile" name="sinacFile" class="form-control-file" placeholder="Selección de archivo..." title="Campo para seleccionar archivo">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12" for="sicFile">SIC</label>
                                    <div class="col-sm-12">
                                        <input type="file" accept="*.xls, *.xlsx" id="sicFile" name="sicFile" class="form-control-file" placeholder="Selección de archivo..." title="Campo para seleccionar archivo">
                                    </div>
                                </div><br />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="button" class="btn btn-success" onclick="loadingFiles()" title="Cargar Archivos">Cargar Archivos</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <!-- ./form -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ./loading files -->

    </div>
    <!-- ./container -->

</div>
<!-- ./page content -->


