<!-- Modal Default -->
<div id="defaultModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p class="modal-text">One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="defaultModalAcceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal large -->
<div id="largeModal" class="modal fade in" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p class="modal-text">One fine body…</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button id="largeModalAcceptBtn" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal alert -->
<div id="alertModal" class="modal fade in" role="dialog">
    <div class="modal-dialog">
        <div class="alert alert-dismissible">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">
            <span><i class="fa fa-info-circle" aria-hidden="true"></i> </span>
                Modal title</h4><hr />
            <p class="modal-text">One fine body…</p>
        </div>
    </div>
</div>

<!-- Alert -->
<div id="AlertaMensaje" class="alert alert-success hiddElement mensajeForma">
    <strong id="Titulo">Titulo</strong>
    <hr/>
    <div id="Mensaje">Mensaje</div>
</div>

<!-- Loader -->
<div id="loader" class="bd-example blackBack">
    <div class="lds-facebook"><div></div><div></div><div></div></div>
</div>
