@* Model *@
@{

    ViewData["Root"] = "SANS";
    ViewData["Option"] = "Cierre de Sesión";
    ViewData["Title"] = ViewData["Root"] + " / " + ViewData["Option"];
    ViewData["Message"] = "¡Su sesión ha finalizado correctamente!";

}

<!-- Page content -->
<div class="page-content">

    <!-- Content -->
    <div class="container">

        <!-- Logout -->
        <section>
            <div class="row">
                <div class="col-sm-12 mt-30">
                    <div class="alert alert-success text-center">
                        <div class="alert-header">
                            <h4>Mensaje</h4>
                        </div><hr />
                        <div class="alert-message">
                            <h3>@ViewData["Message"]</h3>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="center-block">
                            <a href="/Home/Index">Inicio</a>.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./logout -->

    </div>
    <!-- ./content -->

</div>
<!-- ./page content -->
